/* *, *:before, *:after {
    box-sizing: border-box;
  } */

  /*Use the above on line 1-3???*/

h1 {
    color: #ff6347;
    font-family: 'Luckiest Guy', cursive;
    font-size: 100px;
    text-align: center;
    margin: 50px;;
}

h2 {
    margin: 25px;
    text-align: center;
}

body {
    background-color: rgb(245, 208, 190);
}


/* .container {
    text-align: left;
    margin: 10px 0;
    padding: 10px;
} */

/* input {
    width: 15%;
    margin: 1px;
    padding: 1px;
} */

#next-btn {
    margin: 1em;
}

/* label {
    width: 200px;
    display: inline-block;
    text-align: right;
} */