h1 {
    color: #ff6347;
    /* font-family: 'Balsamiq Sans', cursive; */
    font-family: 'Luckiest Guy', cursive;
    font-size: 100px;
}
/* .btn {
    color: purple;
} */

h2 {
    margin: 25px;
}

body {
    background-color: rgb(245, 208, 190);
    text-align: center;
    padding: 1em; 
} 

